

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    font-family: "Google Sans";
    background-color: #161616;
}

.main-div {
    margin-left: 300px;
    margin-top: 130px;
    
}

.name-div {
    color: white;
    font-size: small;
}

.description-div {
    margin-bottom: 40px;
    color: white;
}

.paragraph-div {
    color: white;
    margin-bottom: 50px;
    font-size: small;
    max-width: 500px;
    line-height: 1.5;

}

.links-div {
    display: flex;
    gap: 10px;
}

.social-link {
    color: white;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
  .name-div {
    margin-left: 30px;
    font-size: x-small;
  }

  .description-div {
    margin-left: 30px

  }

  .paragraph-div {
    max-width: 330px;
    margin-left: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  
    .main-div {
    margin-left: auto;
    margin-right: auto;
  }

  .social-link {
    margin-left: 30px;
  }
}